[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = ">=1"
pytest = ">=8"
flake8 = ">=7"
ytmusicapi = ">=1"
yt-dlp = ">=2024.10.22"
tqdm = ">=4"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
